<!--?xml version="1.0" encoding="UTF-8"?-->
<!--?config version="1.0"-->
<plist version="1.0">
<array>
    <dict>
        <key>gamename</key>
        <string>TestGame</string>
        <key>supportlanguage</key>
        <string>en,cn,jp</string>
		<key>defaultlanguage</key>
		<string>jp</string>
    </dict>   
</array>	
</plist>